<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Submit Book from <%= @user.email %>!</p>
    <p>
     Submit Book details<br>
    --------------------------
  </p>
  <p><%= @book.name %></p>
  <p><%= @book.book_no %></p>
  <p><%= @book.price %></p>
  </body>
</html>