<div class="container">
<div class="card-group">
  <div class="card">
   <div class="card bg-dark text-white">
    <div class="card-body">
<div align="center">About_us</div>
<h5 class="card-title">Book Infomation</h5>
 <p class="card-text">
	Library management system is best way to learn. its aim to be a part of online study material and book avaible to learn online and issue the book online. security provided in it for the users. if user want to login/logout so it do easily. and providing an count also how many books a user issued or not. that is trusted by its user for service excellence,

      library management systems to manage asset collections as well as relationships with their members. Library management systems help libraries keep track of the books and their checkouts, as well as users</p>
      <p class="card-text"><small class="text-muted">Update.time</small></p>
    </div>
  </div>
 </div> 
</div>
<div align="center">Our Team</div>

  <p font-size:30px>
     We provide Ruby on Rails development solutions to build custom web applications, web services, intranets, content management systems (CMS), single-page applications (SPA) and web portals using Ruby on Rails. We program applications, APIs, and other software to run on all operating systems using the Ruby programming language, Ruby on Rails framework, and RubyGems package manager. Our Ruby app development services lays out wire-frame designs, QA testing, debugging, and deployment.
  </p>
  

 <div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Abhishek shere</h5>
      <p class="card-text"> Team Lead </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ajay jaitwal</h5>
      <p class="card-text">mentor</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Poonam Ingle</h5>
      <p class="card-text">Admin</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
</div>