<div class="container">
  <h1>Contact Form</h1>
  <%#= form_for @book do |book| %>
   <%= bootstrap_form_with model: @book, local: true do |form| %>
    <div class="col-md-6">
      
      <%= form.text_field  :name, required: true, class: "contact-form-text-area" %></br>

     
      <%= form.text_field :email, required: true, class: "contact-form-text-area" %></br>

     
      <%#= form.text_area :query, rows: 8, cols: 40, required: true, class: "contact-form-text-area", 
            placeholder: "Send me a query"%></br>
      <%= form.submit%>
      <%#= link_to "Contact Us",  class: "btn btn-primary" %>
    </div>
  <% end %>
</div>