<body style="background: #f2f2f2">
  
<h1 style="color: #6699ff;"><b>Searching result</b></h1>


<br>

 <div name="books">
    <% @books.each do |book| %>
      
      <%= link_to book.name, book_path(book.id) %><br>
    
    <% end %>
 </div>
 

</body>