<body class="container" style="background: #f2f2f2"> 
<h1 class="my-3" style="color: #6699ff;"><b>Searching result</b></h1>
 <div name="books">
    <% @books.each do |book| %>  
     <%= link_to book.name, book_path(book.id) %><br>
      <%#= byebug %>
      <%#= @books_path %><br>
    <% end %>
 </div>
</body>