<h1>This is my one page app!</h1>
  <div id="contact">
    <%= render 'contact-us' %>
  </div>

<!-- <div class="container">
      <%# @welcomes.each do |welcome| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%#=  welcome.name %></h5>   
            <p class="card-text"><p><%#= welcome.email %></p>
          </div>
        </div>  
      <%# end %>
</div> -->
<!-- <h1>Queries</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Query</th>
  </tr>

  <%# @contacts.each do |contact| %>
  <tr>
    <td><%#= contact.name %></td> 
    <td><%#= contact.email %></td>
    <td><%#= contact.query %></td>

    <td><%#= link_to 'Show', article_path(article) %></td>
  </tr>
  <% end %>
</table> -->